In [4]:
#Importing the required libraries
import pandas as pd
#Loading the provided unstructured file
df= pd.read_csv('payroll.csv')
df.head(25) #Note: the 'NaN' value in some cells is considered as 'string' rather than 'null' values

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Employee Previous Earnings,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,NaN,NaN,Shahzeb AnsariPTY LTD,NaN,NaN,NaN,NaN,NaN,NaN
1,Employee Previous Earnings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Page 1 of 553
2,Payroll Company,NaN,Shahzeb Ansari- Shahzeb AnsariPTY LTD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,001HALEA,Alex Hales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,For Pay End Periods between 1/07/1982 and 25/0...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,Number of,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Period End Date,Pay Frequency,NaN,Location,NaN,Description,NaN,NaN,NaN,NaN,Hours,Amount
7,06-12-82,1W01 - Weekly,NaN,Australia,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,Normal Hours,NaN,NaN,NaN,NaN,23,351.87
9,NaN,NaN,NaN,NaN,NaN,Gross Taxable Total,NaN,NaN,NaN,NaN,0,351.87
10,NaN,NaN,NaN,NaN,NaN,Tax (Incl Adjust),NaN,NaN,NaN,NaN,0,0
11,NaN,NaN,NaN,NaN,NaN,Net Pay,NaN,NaN,NaN,NaN,0,351.87
12,13-12-82,1W01 - Weekly,NaN,Australia,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,Normal Hours,NaN,NaN,NaN,NaN,46,703.74
14,NaN,NaN,NaN,NaN,NaN,Gross Taxable Total,NaN,NaN,NaN,NaN,0,703.74
15,NaN,NaN,NaN,NaN,NaN,Tax (Incl Adjust),NaN,NaN,NaN,NaN,0,-80
16,NaN,NaN,NaN,NaN,NaN,Net Pay,NaN,NaN,NaN,NaN,0,623.74
17,NaN,NaN,NaN,NaN,NaN,Superannuation,NaN,NaN,NaN,NaN,0,66.86
18,20-12-82,1W01 - Weekly,NaN,Australia,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,Normal Hours,NaN,NaN,NaN,NaN,37.5,573.7
20,NaN,NaN,NaN,NaN,NaN,Gross Taxable Total,NaN,NaN,NaN,NaN,0,573.7
21,NaN,NaN,NaN,NaN,NaN,Tax (Incl Adjust),NaN,NaN,NaN,NaN,0,-53
22,NaN,NaN,NaN,NaN,NaN,Net Pay,NaN,NaN,NaN,NaN,0,520.7
23,NaN,NaN,NaN,NaN,NaN,Superannuation,NaN,NaN,NaN,NaN,0,54.5
24,27-12-82,1W01 - Weekly,NaN,Australia,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Finding the uniques Employee Ids
df['Unnamed: 0'].unique()

array([nan, 'Employee Previous Earnings', 'Payroll Company', '001HALEA',
       'For Pay End Periods between 1/07/1982 and 25/06/1985',
       'Period End Date', '06-12-82', '13-12-82', '20-12-82', '27-12-82',
       '03-01-83', '10-01-83', '17-01-83', '24-01-83',
       'SA Payroll (Registered to Shahzeb CO. PTY. LTD.)', '31-01-83',
       '07-02-83', '14-02-83', '21-02-83', '28-02-83', '07-03-83',
       '14-03-83', '21-03-83', '28-03-83', '04-04-83', '11-04-83',
       '18-04-83', '25-04-83', '02-05-83', '09-05-83', '16-05-83',
       '23-05-83', '30-05-83', 'Employee Total', '002ROOTJ', '16-04-85',
       '23-04-85', '30-04-85', '07-05-85', '003WARND', '05-07-82',
       '12-07-82', '19-07-82', '26-07-82', '02-08-82', '09-08-82',
       '16-08-82', '23-08-82', '30-08-82', '06-09-82', '13-09-82',
       '20-09-82', '27-09-82', '04-10-82', '11-10-82', '18-10-82',
       '25-10-82', '01-11-82', '08-11-82', '15-11-82', '22-11-82',
       '29-11-82', '06-06-83', '13-06-83', '20-06-83', '27-06-83',
       '04-07-83', '11-07-83', '18-07-83', '25-07-83', '004ALBEK',
       '01-08-83', '08-08-83', '15-08-83', '22-08-83', '29-08-83',
       '05-09-83', '12-09-83', '19-09-83', '26-09-83', '03-10-83',
       '10-10-83', '17-10-83', '24-10-83', '31-10-83', '07-11-83',
       '14-11-83', '21-11-83', '28-11-83', '05-12-83', '12-12-83',
       '19-12-83', '26-12-83', '02-01-84', '09-01-84', '16-01-84',
       '23-01-84', '30-01-84', '06-02-84', '13-02-84', '20-02-84',
       '27-02-84', '06-03-84', '13-03-84', '20-03-84', '27-03-84',
       '03-04-84', '10-04-84', '17-04-84', '24-04-84', '01-05-84',
       '08-05-84', '15-05-84', '22-05-84', '29-05-84', '05-06-84',
       '12-06-84', '19-06-84', '26-06-84', '03-07-84', '10-07-84',
       '17-07-84', '24-07-84', '31-07-84', '07-08-84', '14-08-84',
       '21-08-84', '28-08-84', '04-09-84', '11-09-84', '18-09-84',
       '25-09-84', '02-10-84', '09-10-84', '16-10-84', '23-10-84',
       '30-10-84', '06-11-84', '13-11-84', '20-11-84', '27-11-84',
       '04-12-84', '11-12-84', '18-12-84', '25-12-84', '01-01-85',
       '08-01-85', '15-01-85', '22-01-85', '29-01-85', '05-02-85',
       '12-02-85', '19-02-85', '26-02-85', '05-03-85', '12-03-85',
       '19-03-85', '26-03-85', '02-04-85', '09-04-85', '14-05-85',
       '21-05-85', '28-05-85', '04-06-85', '11-06-85', '18-06-85',
       '25-06-85', '005NIKIS', '006SANJK', '007DILHF', '008SHAHA',
       '009DILSK', '010SABAE', '011SHAYD', '012NAJMS', '013SUNDS',
       '014SARAI', '015JIYAA', '016BILAL', '017SHAMS', '018LANJH',
       '019MARI', '020WASE', '021KISHO', '022HANSAL', '023VALIMA',
       '024IMADH', '025PACEI', '026ELLIG', '027DIYAM', '028MILES',
       '029BALLS', '030CONWR', '031MONTC', '032BEARC', '033TODDR',
       '034ANUPA', '035SHAM', '036DEANM', '037WALLB', '038SUMAI',
       '039CARSL', '040TOMAT', '041ETHAN', '042GEORC', '043LUCAA',
       '044CRUIS', '045WESTB', '046MARJA', '047BAILT', '048NOODL',
       'Payroll Company Total', 'Average'], dtype=object)

In [6]:
#Manualling assigning the uniques Employee Ids
id=['001HALEA','002ROOTJ','003WARND','004ALBEK','005NIKIS', '006SANJK', '007DILHF', '008SHAHA',
       '009DILSK', '010SABAE', '011SHAYD', '012NAJMS', '013SUNDS',
       '014SARAI', '015JIYAA', '016BILAL', '017SHAMS', '018LANJH',
       '019MARI', '020WASE', '021KISHO', '022HANSAL', '023VALIMA',
       '024IMADH', '025PACEI', '026ELLIG', '027DIYAM', '028MILES',
       '029BALLS', '030CONWR', '031MONTC', '032BEARC', '033TODDR',
       '034ANUPA', '035SHAM', '036DEANM', '037WALLB', '038SUMAI',
       '039CARSL', '040TOMAT', '041ETHAN', '042GEORC', '043LUCAA',
       '044CRUIS', '045WESTB', '046MARJA', '047BAILT', '048NOODL','Payroll Company Total']

In [7]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Employee Previous Earnings', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11'],
      dtype='object')

In [8]:
# Dropping the unnecessary empty columns.
df.drop(['Unnamed: 2','Unnamed: 4','Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],axis=1,inplace=True)
df.head(25)

,Unnamed: 0,Unnamed: 1,Unnamed: 3,Employee Previous Earnings,Unnamed: 10,Unnamed: 11
0,NaN,NaN,NaN,Shahzeb AnsariPTY LTD,NaN,NaN
1,Employee Previous Earnings,NaN,NaN,NaN,NaN,Page 1 of 553
2,Payroll Company,NaN,NaN,NaN,NaN,NaN
3,001HALEA,Alex Hales,NaN,NaN,NaN,NaN
4,For Pay End Periods between 1/07/1982 and 25/0...,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN
6,Period End Date,Pay Frequency,Location,Description,Hours,Amount
7,06-12-82,1W01 - Weekly,Australia,NaN,NaN,NaN
8,NaN,NaN,NaN,Normal Hours,23,351.87
9,NaN,NaN,NaN,Gross Taxable Total,0,351.87
10,NaN,NaN,NaN,Tax (Incl Adjust),0,0
11,NaN,NaN,NaN,Net Pay,0,351.87
12,13-12-82,1W01 - Weekly,Australia,NaN,NaN,NaN
13,NaN,NaN,NaN,Normal Hours,46,703.74
14,NaN,NaN,NaN,Gross Taxable Total,0,703.74
15,NaN,NaN,NaN,Tax (Incl Adjust),0,-80
16,NaN,NaN,NaN,Net Pay,0,623.74
17,NaN,NaN,NaN,Superannuation,0,66.86
18,20-12-82,1W01 - Weekly,Australia,NaN,NaN,NaN
19,NaN,NaN,NaN,Normal Hours,37.5,573.7
20,NaN,NaN,NaN,Gross Taxable Total,0,573.7
21,NaN,NaN,NaN,Tax (Incl Adjust),0,-53
22,NaN,NaN,NaN,Net Pay,0,520.7
23,NaN,NaN,NaN,Superannuation,0,54.5
24,27-12-82,1W01 - Weekly,Australia,NaN,NaN,NaN

In [9]:
# Renaming the available columns with appropriate names
df.rename(columns={'Unnamed: 0':'Emp_ID','Unnamed: 1':'Emp_name','Unnamed: 3':'Location','Employee Previous Earnings':
                   'Description','Unnamed: 10':'Hours','Unnamed: 11':'Amount'},inplace=True)
df.head(25)

,Emp_ID,Emp_name,Location,Description,Hours,Amount
0,NaN,NaN,NaN,Shahzeb AnsariPTY LTD,NaN,NaN
1,Employee Previous Earnings,NaN,NaN,NaN,NaN,Page 1 of 553
2,Payroll Company,NaN,NaN,NaN,NaN,NaN
3,001HALEA,Alex Hales,NaN,NaN,NaN,NaN
4,For Pay End Periods between 1/07/1982 and 25/0...,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN
6,Period End Date,Pay Frequency,Location,Description,Hours,Amount
7,06-12-82,1W01 - Weekly,Australia,NaN,NaN,NaN
8,NaN,NaN,NaN,Normal Hours,23,351.87
9,NaN,NaN,NaN,Gross Taxable Total,0,351.87
10,NaN,NaN,NaN,Tax (Incl Adjust),0,0
11,NaN,NaN,NaN,Net Pay,0,351.87
12,13-12-82,1W01 - Weekly,Australia,NaN,NaN,NaN
13,NaN,NaN,NaN,Normal Hours,46,703.74
14,NaN,NaN,NaN,Gross Taxable Total,0,703.74
15,NaN,NaN,NaN,Tax (Incl Adjust),0,-80
16,NaN,NaN,NaN,Net Pay,0,623.74
17,NaN,NaN,NaN,Superannuation,0,66.86
18,20-12-82,1W01 - Weekly,Australia,NaN,NaN,NaN
19,NaN,NaN,NaN,Normal Hours,37.5,573.7
20,NaN,NaN,NaN,Gross Taxable Total,0,573.7
21,NaN,NaN,NaN,Tax (Incl Adjust),0,-53
22,NaN,NaN,NaN,Net Pay,0,520.7
23,NaN,NaN,NaN,Superannuation,0,54.5
24,27-12-82,1W01 - Weekly,Australia,NaN,NaN,NaN

In [10]:
# Employee Data Extraction Function 
def data_extraction_employees(emp1,emp2):
    #emp1=id[0] means first employee id
    #emp2=id[1] means second employee id

    fg=df['Emp_ID'][df['Emp_ID']==emp1].index #Finding the indices of first employee
    gf=df['Emp_ID'][df['Emp_ID']==emp2].index #Finding the indices of 2nd employee
    check=df['Emp_ID'].str.split("-",n=2,expand=False) #The first column contains the all conditional information
    
    # PayDates extraction loop based on conditions of Emp_ID column
    date=[] 

    for i in list(range(fg[0],gf[0]+1)):
        if not check.isna()[i]:
            if len(check[i]) == 3:
                a=check[i][2]
                if a in ['82','83', '84','85']:
                    date.append(check[i][0]+'-'+check[i][1]+'-'+check[i][2])
            
    date.append('Employee Total')     
    date.append('SA Payroll (Registered to Shahzeb CO. PTY. LTD.)')
            
    # Synchronising the Employee names and IDs based on total PayDates
    emp_id=[]
    emp_name=[]
    for i in list(range(len(date)-1)):
        emp=emp1
        emp_id.append(emp)
        name=df['Emp_name'][df['Emp_ID']==emp1].array[0]
        emp_name.append(name)

    dates=date.copy()
    dates.remove('SA Payroll (Registered to Shahzeb CO. PTY. LTD.)')

    # Generating the Dataframe based on each employee's own PayDate
    data_tuples = list(zip(emp_id,emp_name,dates))
    new_data=pd.DataFrame(data_tuples,columns=['Emp_ID','Emp_name','PayDate'])

    # Data manipulatioin and final Dataframe building of individual employee
    desc=[]
    hours=[]
    amount=[]
    for i in list(range(len(date)-1)):
        bt=df['Emp_ID'][fg[0]:gf[0]][df['Emp_ID']==date[i]].index
        gt=df['Emp_ID'][fg[0]:gf[0]][df['Emp_ID']==date[i+1]].index
        nm=gt[gt > bt[0]][0] 
        des=df['Description'][bt[0]+1:nm]
        hou=df['Hours'][bt[0]+1:nm]
        amo=df['Amount'][bt[0]+1:nm]
        desc.append(des)
        hours.append(hou)
        amount.append(amo)

    desc2=[]
    hour2=[]
    amount2=[]
    for i in list(range(len(desc))):
        fg=desc[i].array
        gh=hours[i].array
        hj=amount[i].array
        desc2.append(fg)
        hour2.append(gh)
        amount2.append(hj)

    data_tuples_vale = list(zip(desc2 , hour2, amount2))

    new_data_vale=pd.DataFrame(data_tuples_vale,columns=['Description','Hours','Amount'])
    new_data3=pd.concat([new_data,new_data_vale],axis=1)
    new_data3.stack(level=0,dropna=True).head(10)
    long_df=new_data3.copy()

    new_amount=[]
    new_desc=[]
    new_hours=[]
    for i in list(range(len(long_df['Amount']))):
        jn=long_df['Amount'][i].tolist()
        jh=long_df['Description'][i].tolist()
        jk=long_df['Hours'][i].tolist()
        new_amount.append(jn)
        new_desc.append(jh)
        new_hours.append(jk)

    long_df['Amount']=new_amount
    long_df['Description']=new_desc
    long_df['Hours']=new_hours
    return long_df

In [11]:
# Extracting the all employees information
data=[]
for i in list(range(len(id)-1)):
    y=data_extraction_employees(emp1=id[i],emp2=id[i+1])
    data.append(y)

In [12]:
data

[      Emp_ID    Emp_name         PayDate  \
 0   001HALEA  Alex Hales        06-12-82
 1   001HALEA  Alex Hales        13-12-82
 2   001HALEA  Alex Hales        20-12-82
 3   001HALEA  Alex Hales        27-12-82
 4   001HALEA  Alex Hales        03-01-83
 5   001HALEA  Alex Hales        10-01-83
 6   001HALEA  Alex Hales        17-01-83
 7   001HALEA  Alex Hales        24-01-83
 8   001HALEA  Alex Hales        31-01-83
 9   001HALEA  Alex Hales        07-02-83
 10  001HALEA  Alex Hales        14-02-83
 11  001HALEA  Alex Hales        21-02-83
 12  001HALEA  Alex Hales        28-02-83
 13  001HALEA  Alex Hales        07-03-83
 14  001HALEA  Alex Hales        14-03-83
 15  001HALEA  Alex Hales        21-03-83
 16  001HALEA  Alex Hales        28-03-83
 17  001HALEA  Alex Hales        04-04-83
 18  001HALEA  Alex Hales        11-04-83
 19  001HALEA  Alex Hales        18-04-83
 20  001HALEA  Alex Hales        25-04-83
 21  001HALEA  Alex Hales        02-05-83
 22  001HALEA  Alex Hales        09-05-83
 23  001HALEA  Alex Hales        16-05-83
 24  001HALEA  Alex Hales        23-05-83
 25  001HALEA  Alex Hales        30-05-83
 26  001HALEA  Alex Hales  Employee Total

                                           Description  \
 0   [Normal Hours, Gross Taxable Total, Tax (Incl ...
 1   [Normal Hours, Gross Taxable Total, Tax (Incl ...
 2   [Normal Hours, Gross Taxable Total, Tax (Incl ...
 3   [Normal Hours, Public Holiday - worked, Gross ...
 4   [Normal Hours, Gross Taxable Total, Tax (Incl ...
 5   [Normal Hours, Time/Half Hours, Gross Taxable ...
 6   [Normal Hours, Gross Taxable Total, Tax (Incl ...
 7   [Normal Hours, Gross Taxable Total, Tax (Incl ...
 8   [Normal Hours, Gross Taxable Total, Tax (Incl ...
 9   [Normal Hours, Gross Taxable Total, Tax (Incl ...
 10  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 11  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 12  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 13  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 14  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 15  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 16  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 17  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 18  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 19  [Normal Hours, Public Holiday - worked, Gross ...
 20  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 21  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 22  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 23  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 24  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 25  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 26  [Normal Hours, Time/Half Hours, Public Holiday...

                                                 Hours  \
 0                                       [23, 0, 0, 0]
 1                                    [46, 0, 0, 0, 0]
 2                                  [37.5, 0, 0, 0, 0]
 3                                [30, 15, 0, 0, 0, 0]
 4                                  [37.5, 0, 0, 0, 0]
 5                               [32, 5.5, 0, 0, 0, 0]
 6                                    [31, 0, 0, 0, 0]
 7   [37, 0, 0, 0, 0, nan, nan, nan, nan, nan, nan,...
 8                                  [33.5, 0, 0, 0, 0]
 9                               [35.5, 0, 0, 0, 0, 0]
 10                                [35.25, 0, 0, 0, 0]
 11                                 [34.5, 0, 0, 0, 0]
 12                                [35.25, 0, 0, 0, 0]
 13                                 [35.5, 0, 0, 0, 0]
 14                                 [35.5, 0, 0, 0, 0]
 15  [35.5, 0, 0, 0, 0, 0, nan, nan, nan, nan, nan,...
 16                                [32, 0, 0, 0, 0, 0]
 17                             [33.25, 0, 0, 0, 0, 0]
 18                                 [41.5, 0, 0, 0, 0]
 19                            [16.5, 8.5, 0, 0, 0, 0]
 20                                [41.75, 0, 0, 0, 0]
 21                                      [25, 0, 0, 0]
 22                                   [34, 0, 0, 0, 0]
 23  [34, 0, 0, 0, 0, nan, nan, nan, nan, nan, nan,...
 24                                 [14.5, 0, 0, 0, 0]
 25                                   [25, 0, 0, 0, 0]
 26                 [852, 5.5, 23.5, 0, 0, 0, 0, 0, 0]

                                                Amount
 0                         [351.87, 351.87, 0, 351.87]
 1                [703.74, 703.74, -80, 623.74, 66.86]
 2                    [573.7, 573.7, -53, 520.7, 54.5]
 3        [458.96, 573.7, 1032.66, -194, 838.66, 98.1]
 4                    [573.7, 573.7, -53, 520.7, 54.5]
 5        [489.56, 126.21, 615.77, -62, 553.77, 46.51]
 6                [474.26, 474.26, -29, 445.26, 45.05]
 7   [566.05, 566.05, -52, 514.05, 53.77, nan, nan,...
 8                [512.51, 512.51, -40, 472.51, 48.69]
 9               [543.1, 543.1, -47, 50, 546.1, 51.59]
 10               [539.28, 539.28, -46, 493.28, 51.23]
 11               [527.81, 527.81, -43, 484.81, 50.14]
 12               [539.28, 539.28, -46, 493.28, 51.23]
 13                  [543.1, 543.1, -47, 496.1, 51.59]
 14                  [543.1, 543.1, -47, 496.1, 51.59]
 15  [543.1, 543.1, -47, -11, 485.1, 51.59, nan, na...
 16          [529.08, 529.08, -44, -11, 474.08, 50.26]
 17          [593.47, 593.47, -57, -11, 525.47, 56.38]
 18               [740.71, 740.71, -92, 648.71, 70.37]
 19        [294.5, 379.28, 673.78, -74, 599.78, 64.01]
 20               [745.17, 745.17, -94, 651.17, 70.79]
 21                      [446.21, 446.21, -21, 425.21]
 22              [606.85, 606.85, -60, 546.85, 100.04]
 23  [606.85, 606.85, -60, 546.85, 57.65, nan, nan,...
 24                    [258.8, 258.8, 0, 258.8, 24.59]
 25               [446.21, 446.21, -21, 425.21, 42.39]
 26  [13750.97, 126.21, 952.98, 14830.16, -1409, 50...  ,
      Emp_ID  Emp_name         PayDate  \
 0  002ROOTJ  Joe Root        16-04-85
 1  002ROOTJ  Joe Root        23-04-85
 2  002ROOTJ  Joe Root        30-04-85
 3  002ROOTJ  Joe Root        07-05-85
 4  002ROOTJ  Joe Root  Employee Total

                                          Description                    Hours  \
 0  [Normal Hours, Gross Taxable Total, Tax (Incl ...         [46, 0, 0, 0, 0]
 1  [Normal Hours, Gross Taxable Total, Tax (Incl ...       [19.5, 0, 0, 0, 0]
 2  [Normal Hours, Sat Casual Ldg, Gross Taxable T...    [30, 8.5, 0, 0, 0, 0]
 3  [Normal Hours, Gross Taxable Total, Tax (Incl ...             [4, 0, 0, 0]
 4  [Normal Hours, Sat Casual Ldg, Gross Taxable T...  [99.5, 8.5, 0, 0, 0, 0]

                                           Amount
 0          [1003.22, 1003.22, -85, 918.22, 95.3]
 1            [425.27, 425.27, -14, 411.27, 40.4]
 2      [654.27, 14.83, 669.1, -73, 596.1, 63.56]
 3                       [87.24, 87.24, 0, 87.24]
 4  [2170, 14.83, 2184.83, -172, 2012.83, 199.26]  ,
       Emp_ID      Emp_name         PayDate  \
 0   003WARND  David Warner        05-07-82
 1   003WARND  David Warner        12-07-82
 2   003WARND  David Warner        19-07-82
 3   003WARND  David Warner        26-07-82
 4   003WARND  David Warner        02-08-82
 5   003WARND  David Warner        09-08-82
 6   003WARND  David Warner        16-08-82
 7   003WARND  David Warner        23-08-82
 8   003WARND  David Warner        30-08-82
 9   003WARND  David Warner        06-09-82
 10  003WARND  David Warner        13-09-82
 11  003WARND  David Warner        20-09-82
 12  003WARND  David Warner        27-09-82
 13  003WARND  David Warner        04-10-82
 14  003WARND  David Warner        11-10-82
 15  003WARND  David Warner        18-10-82
 16  003WARND  David Warner        25-10-82
 17  003WARND  David Warner        01-11-82
 18  003WARND  David Warner        08-11-82
 19  003WARND  David Warner        15-11-82
 20  003WARND  David Warner        22-11-82
 21  003WARND  David Warner        29-11-82
 22  003WARND  David Warner        06-12-82
 23  003WARND  David Warner        13-12-82
 24  003WARND  David Warner        20-12-82
 25  003WARND  David Warner        27-12-82
 26  003WARND  David Warner        03-01-83
 27  003WARND  David Warner        10-01-83
 28  003WARND  David Warner        17-01-83
 29  003WARND  David Warner        24-01-83
 30  003WARND  David Warner        31-01-83
 31  003WARND  David Warner        07-02-83
 32  003WARND  David Warner        14-02-83
 33  003WARND  David Warner        21-02-83
 34  003WARND  David Warner        28-02-83
 35  003WARND  David Warner        07-03-83
 36  003WARND  David Warner        14-03-83
 37  003WARND  David Warner        21-03-83
 38  003WARND  David Warner        28-03-83
 39  003WARND  David Warner        04-04-83
 40  003WARND  David Warner        11-04-83
 41  003WARND  David Warner        18-04-83
 42  003WARND  David Warner        25-04-83
 43  003WARND  David Warner        02-05-83
 44  003WARND  David Warner        09-05-83
 45  003WARND  David Warner        16-05-83
 46  003WARND  David Warner        23-05-83
 47  003WARND  David Warner        30-05-83
 48  003WARND  David Warner        06-06-83
 49  003WARND  David Warner        13-06-83
 50  003WARND  David Warner        20-06-83
 51  003WARND  David Warner        27-06-83
 52  003WARND  David Warner        04-07-83
 53  003WARND  David Warner        11-07-83
 54  003WARND  David Warner        18-07-83
 55  003WARND  David Warner        25-07-83
 56  003WARND  David Warner  Employee Total

                                           Description  \
 0   [Normal Hours, Gross Taxable Total, Tax (Incl ...
 1   [Normal Hours, Gross Taxable Total, Tax (Incl ...
 2   [Normal Hours, Gross Taxable Total, Tax (Incl ...
 3   [Normal Hours, Gross Taxable Total, Tax (Incl ...
 4   [Normal Hours, Gross Taxable Total, Tax (Incl ...
 5   [Normal Hours, Gross Taxable Total, Tax (Incl ...
 6   [Normal Hours, Gross Taxable Total, Tax (Incl ...
 7   [Normal Hours, Gross Taxable Total, Tax (Incl ...
 8   [Normal Hours, Gross Taxable Total, Tax (Incl ...
 9   [Normal Hours, Gross Taxable Total, Tax (Incl ...
 10  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 11  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 12  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 13  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 14  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 15  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 16  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 17  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 18  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 19  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 20  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 21  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 22  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 23  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 24  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 25  [Normal Hours, Other Leave - Public Holiday, G...
 26  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 27  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 28  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 29  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 30  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 31  [Normal Hours, Annual Leave, Gross Taxable Tot...
 32  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 33  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 34  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 35  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 36  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 37  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 38  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 39  [Normal Hours, Sick Leave, Gross Taxable Total...
 40  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 41  [Normal Hours, Other Leave - Public Holiday, G...
 42  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 43  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 44  [Normal Hours, Sick Leave, Annual Leave, Gross...
 45  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 46  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 47  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 48  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 49  [Normal Hours, Other Leave - Birthday, Gross T...
 50  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 51  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 52  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 53  [Normal Hours, Sick Leave, Gross Taxable Total...
 54  [Normal Hours, Gross Taxable Total, Tax (Incl ...
 55  [Normal Hours, Term AL Gross, Gross Taxable To...
 56  [Normal Hours, Sick Leave, Annual Leave, Other...

                                                 Hours  \
 0                                    [40, 0, 0, 0, 0]
 1                                    [40, 0, 0, 0, 0]
 2                                    [40, 0, 0, 0, 0]
 3                                    [40, 0, 0, 0, 0]
 4                                    [40, 0, 0, 0, 0]
 5                                    [40, 0, 0, 0, 0]
 6                                    [40, 0, 0, 0, 0]
 7   [40, 0, 0, 0, 0, nan, nan, nan, nan, nan, nan,...
 8                                    [40, 0, 0, 0, 0]
 9                                    [40, 0, 0, 0, 0]
 10                                   [40, 0, 0, 0, 0]
 11                                   [40, 0, 0, 0, 0]
 12                                   [40, 0, 0, 0, 0]
 13                                   [40, 0, 0, 0, 0]
 14                                [40, 0, 0, 0, 0, 0]
 15  [40, 0, 0, 0, 0, nan, nan, nan, nan, nan, nan,...
 16                                   [40, 0, 0, 0, 0]
 17                                   [40, 0, 0, 0, 0]
 18                                   [40, 0, 0, 0, 0]
 19                                   [40, 0, 0, 0, 0]
 20                                   [40, 0, 0, 0, 0]
 21                                   [40, 0, 0, 0, 0]
 22                                   [40, 0, 0, 0, 0]
 23  [40, 0, 0, 0, 0, nan, nan, nan, nan, nan, nan,...
 24                                   [40, 0, 0, 0, 0]
 25                                [32, 8, 0, 0, 0, 0]
 26                                   [40, 0, 0, 0, 0]
 27                                   [40, 0, 0, 0, 0]
 28                                   [40, 0, 0, 0, 0]
 29                                   [40, 0, 0, 0, 0]
 30                                   [40, 0, 0, 0, 0]
 31  [23.5, 16.5, 0, 0, 0, 0, nan, nan, nan, nan, n...
 32                                   [40, 0, 0, 0, 0]
 33                                   [40, 0, 0, 0, 0]
 34                                   [40, 0, 0, 0, 0]
 35                                   [40, 0, 0, 0, 0]
 36                                   [40, 0, 0, 0, 0]
 37                                   [40, 0, 0, 0, 0]
 38                                   [40, 0, 0, 0, 0]
 39  [30, 10, 0, 0, 0, 0, nan, nan, nan, nan, nan, ...
 40                                [40, 0, 0, 0, 0, 0]
 41                                [32, 8, 0, 0, 0, 0]
 42                                   [40, 0, 0, 0, 0]
 43                                   [40, 0, 0, 0, 0]
 44                        [32.5, 7.5, 40, 0, 0, 0, 0]
 45                                   [40, 0, 0, 0, 0]
 46  [40, 0, 0, 0, 0, nan, nan, nan, nan, nan, nan,...
 47                                   [40, 0, 0, 0, 0]
 48                                   [40, 0, 0, 0, 0]
 49                                [32, 8, 0, 0, 0, 0]
 50                                   [40, 0, 0, 0, 0]
 51                                   [40, 0, 0, 0, 0]
 52                                   [40, 0, 0, 0, 0]
 53                               [28, 12, 0, 0, 0, 0]
 54  [40, 0, 0, 0, 0, nan, nan, nan, nan, nan, nan,...
 55                        [40, 196.83, 0, 0, 0, 0, 0]
 56  [2170, 29.5, 56.5, 8, 16, 196.83, 0, 0, 0, 0, ...

                                                Amount
 0               [792.31, 792.31, -110, 682.31, 75.27]
 1               [792.31, 792.31, -110, 682.31, 75.27]
 2               [792.31, 792.31, -110, 682.31, 75.27]
 3               [792.31, 792.31, -110, 682.31, 75.27]
 4               [792.31, 792.31, -110, 682.31, 75.27]
 5               [792.31, 792.31, -110, 682.31, 75.27]
 6               [846.16, 846.16, -129, 717.16, 80.39]
 7   [846.16, 846.16, -129, 717.16, 80.39, nan, nan...
 8               [846.16, 846.16, -129, 717.16, 80.39]
 9               [846.16, 846.16, -129, 717.16, 80.39]
 10              [846.16, 846.16, -129, 717.16, 80.39]
 11              [846.16, 846.16, -129, 717.16, 80.39]
 12              [846.16, 846.16, -129, 717.16, 80.39]
 13              [846.16, 846.16, -129, 717.16, 80.39]
 14        [846.16, 846.16, -129, 76.5, 793.66, 80.39]
 15  [846.16, 846.16, -129, 717.16, 80.39, nan, nan...
 16              [846.16, 846.16, -129, 717.16, 80.39]
 17              [846.16, 846.16, -129, 717.16, 80.39]
 18              [846.16, 846.16, -129, 717.16, 80.39]
 19              [846.16, 846.16, -129, 717.16, 80.39]
 20              [846.16, 846.16, -129, 717.16, 80.39]
 21              [846.16, 846.16, -129, 717.16, 80.39]
 22              [846.16, 846.16, -129, 717.16, 80.39]
 23  [846.16, 846.16, -129, 717.16, 80.39, nan, nan...
 24              [846.16, 846.16, -129, 717.16, 80.39]
 25      [676.92, 169.23, 846.15, -129, 717.15, 80.38]
 26              [846.16, 846.16, -129, 717.16, 80.39]
 27              [846.16, 846.16, -129, 717.16, 80.39]
 28              [846.16, 846.16, -129, 717.16, 80.39]
 29              [846.16, 846.16, -129, 717.16, 80.39]
 30              [846.16, 846.16, -129, 717.16, 80.39]
 31  [497.12, 349.04, 846.16, -129, 717.16, 80.39, ...
 32              [846.16, 846.16, -129, 717.16, 80.39]
 33              [846.16, 846.16, -129, 717.16, 80.39]
 34              [846.16, 846.16, -129, 717.16, 80.39]
 35              [846.16, 846.16, -129, 717.16, 80.39]
 36              [846.16, 846.16, -129, 717.16, 80.39]
 37              [846.16, 846.16, -129, 717.16, 80.39]
 38              [846.16, 846.16, -129, 717.16, 80.39]
 39  [634.62, 211.54, 846.16, -129, 717.16, 80.39, ...
 40       [846.16, 846.16, -129, 14.95, 732.11, 80.39]
 41      [676.92, 169.23, 846.15, -129, 717.15, 80.38]
 42              [846.16, 846.16, -129, 717.16, 80.39]
 43              [846.16, 846.16, -129, 717.16, 80.39]
 44  [687.5, 158.65, 846.16, 1692.31, -444, 1248.31...
 45              [846.15, 846.15, -129, 717.15, 80.38]
 46  [846.16, 846.16, -129, 717.16, 80.39, nan, nan...
 47              [846.16, 846.16, -129, 717.16, 80.39]
 48              [846.16, 846.16, -129, 717.16, 80.39]
 49      [676.92, 169.23, 846.15, -129, 717.15, 80.38]
 50              [846.16, 846.16, -129, 717.16, 80.39]
 51              [846.16, 846.16, -129, 717.16, 80.39]
 52              [846.16, 846.16, -129, 717.16, 80.39]
 53      [592.31, 253.85, 846.16, -129, 717.16, 80.39]
 54  [846.16, 846.16, -129, 717.16, 80.39, nan, nan...
 55  [846.16, 4163.72, 5009.88, -1585, -1478.66, 19...
 56  [45581.04, 624.04, 1195.2, 169.23, 338.46, 416...  ,
        Emp_ID        Emp_name         PayDate  \
 0    004ALBEK  Kristin Albert        05-07-82
 1    004ALBEK  Kristin Albert        12-07-82
 2    004ALBEK  Kristin Albert        19-07-82
 3    004ALBEK  Kristin Albert        26-07-82
 4    004ALBEK  Kristin Albert        02-08-82
 ..        ...             ...             ...
 152  004ALBEK  Kristin Albert        04-06-85
 153  004ALBEK  Kristin Albert        11-06-85
 154  004ALBEK  Kristin Albert        18-06-85
 155  004ALBEK  Kristin Albert        25-06-85
 156  004ALBEK  Kristin Albert  Employee Total

                                            Description  \
 0    [Normal Hours, 60% Sun Perm Ldg, Gross Taxable...
 1    [Normal Hours, 60% Sun Perm Ldg, Gross Taxable...
 2    [Normal Hours, Sick Leave, Gross Taxable Total...
 3    [Normal Hours, 60% Sun Perm Ldg, Gross Taxable...
 4    [Normal Hours, Annual Leave, 60% Sun Perm Ldg,...
 ..                                                 ...
 152  [Normal Hours, Annual Leave, Leave Loading 17....

In [16]:
# Concating the dataframes of all individual employee's paydates, hours and amounts
data=pd.concat(data)
data

,Emp_ID,Emp_name,PayDate,Description,Hours,Amount
0,001HALEA,Alex Hales,06-12-82,"[Normal Hours, Gross Taxable Total, Tax (Incl ...","[23, 0, 0, 0]","[351.87, 351.87, 0, 351.87]"
1,001HALEA,Alex Hales,13-12-82,"[Normal Hours, Gross Taxable Total, Tax (Incl ...","[46, 0, 0, 0, 0]","[703.74, 703.74, -80, 623.74, 66.86]"
2,001HALEA,Alex Hales,20-12-82,"[Normal Hours, Gross Taxable Total, Tax (Incl ...","[37.5, 0, 0, 0, 0]","[573.7, 573.7, -53, 520.7, 54.5]"
3,001HALEA,Alex Hales,27-12-82,"[Normal Hours, Public Holiday - worked, Gross ...","[30, 15, 0, 0, 0, 0]","[458.96, 573.7, 1032.66, -194, 838.66, 98.1]"
4,001HALEA,Alex Hales,03-01-83,"[Normal Hours, Gross Taxable Total, Tax (Incl ...","[37.5, 0, 0, 0, 0]","[573.7, 573.7, -53, 520.7, 54.5]"
...,...,...,...,...,...,...
52,048NOODL,Noodles Bag,04-07-83,"[Normal Hours, Gross Taxable Total, Tax (Incl ...","[40, 0, 0, 0, 0]","[1365.39, 1365.39, -309, 1056.39, 129.71]"
53,048NOODL,Noodles Bag,11-07-83,"[Normal Hours, Gross Taxable Total, Tax (Incl ...","[40, 0, 0, 0, 0]","[1365.39, 1365.39, -309, 1056.39, 129.71]"
54,048NOODL,Noodles Bag,18-07-83,"[Normal Hours, Gross Taxable Total, Tax (Incl ...","[40, 0, 0, 0, 0, nan, nan, nan, nan, nan, nan,...","[1365.39, 1365.39, -309, 1056.39, 129.71, nan,..."
55,048NOODL,Noodles Bag,25-07-83,"[Normal Hours, Term AL Gross, Gross Taxable To...","[40, 173.71, 0, 0, 0, 0]","[1365.39, 5929.56, 7294.95, -2389, 4905.95, 12..."
56,048NOODL,Noodles Bag,Employee Total,"[Normal Hours, Sick Leave, Annual Leave, Other...","[2032.5, 24, 199.5, 40, 24, 0, 173.71, 0, 0, 0...","[69378.88, 819.24, 6809.9, 1365.39, 819.24, 50..."

In [17]:
#Saving to CSV file
data.to_csv('payroll_organised.csv',header=True)